
/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Designed for Desktops
/*
/***************************************************************************************/

@media (max-width: 1199px) 
{
	body
	{
		overflow-x: hidden;	
	}
	
	#header-wrapper
	{
		margin-top: 30px;
	}
	
	#as-menu ul.as-menu > li, 
	#as-menu ul.as-menu > li:hover
	{
	}
		
	#slider-row #camera-slideshow	
	{
		min-height: inherit;
	}
	
	#slider-row .camera_target_content
	{
		top: 180px;
	}
	
	.camera_caption p
	{
		display: none;	
	}
		
	#slider-row .camera_caption a.readmore
	{
		right: 60px;
	}
	
	#featured-row .mod-newsflash p 
	{
    	float: none;
    	overflow: hidden;
		clear: both;
	}

	.moduletable.social ul li.separator 
	{
		display: block;
	}
		
	.mod-newsflash-adv__links .item_content ul li a
	{
		font-size: 12px;
	}
	
	.nspArt img.nspImage
	{
		max-width: 85% !important;	
	}
	
	.page-category .img-intro__left,
	.page-category .img-intro__right
	{
		float: none;	
	}
	
	#phocagallery-module-ri .mosaic
	{
		width: 138px !important;	
	}
	
	#featured-row .newsflash-title .newsflash-title-wrapper
	{
		margin: -110px auto 0;
		padding: 130px 10px 0;
	}
	
}