a {
  color: #795548;
}
a:hover {
  color: #593f35;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #fff !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  border-left: 5px solid #fff;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #d3d3d3;
  border-left: 5px solid #fff;
}
#offcanvas-toggler >i {
  color: #fff;
}
#offcanvas-toggler >i:hover {
  color: #795548;
}
.close-offcanvas:hover {
  border: 1px solid ;
  color: ;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li:hover >a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li.active >a {
  color: ;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #66483d;
  background-color: #795548;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #49332b;
  background-color: #593f35;
}
ul.social-icons >li a:hover {
  color: #795548;
}
.sp-page-title {
  background: #795548;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #67696c;
}
.sp-module ul >li >a:hover {
  color: #795548;
}
.sp-module .latestnews >div >a {
  color: #67696c;
}
.sp-module .latestnews >div >a:hover {
  color: #795548;
}
.sp-module .tagscloud .tag-name:hover {
  background: #795548;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #795548;
}
.search .btn-toolbar button {
  background: #795548;
}
.post-format {
  background: #795548;
}
.voting-symbol span.star.active:before {
  color: #795548;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #593f35;
}
.entry-link,
.entry-quote {
  background: #795548;
}
blockquote {
  border-color: #795548;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #795548;
}
#sp-footer {
  background: #795548;
}
.sp-comingsoon body {
  background-color: #795548;
}
.pagination>li>a,
.pagination>li>span {
  color: #67696c;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #67696c;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #795548;
  background-color: #795548;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #795548;
  background-color: #795548;
}
